@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*choose font family*/
    font-family: "Poppins", "Courier New", "Courier", "monospace";
    /* setup color variables for css */
    --bg-primary: #2d2a32; /*invoke --> var(--bg-primary)*/
    --bg-secondary: #b07156;
    --font-color-primary: #f4f4f9;
    --font-color-secondary: #e2c044;
    --backup-color: #de6b48;
}

body {
    height: 100vh; /*100 veiwport height*/
    background: var(--bg-primary);
}

/*style the header and nav bar*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px; /*0px top-bottom 50px left-right*/
}

.navbar h2{
    color: var(--font-color-primary);
    font-weight: 600; /*font weight must be imported first*/
}

